
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/fa-solid";
@import "~@fortawesome/fontawesome-free/scss/fa-regular";
@import "~@fortawesome/fontawesome-free/scss/fa-brands";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

a:hover, a:visited, a:link, a:active{
  color: rgba(0, 0, 0, 0.7) !important;
  text-decoration: none;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#new-post{
  position:fixed;
  bottom: 25px;
  right: 25px;
  width:50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 25px;
}

textarea{
  resize: none;
}
.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}